language: go

env:
  global:
    - GO111MODULE=on
    - CC_TEST_REPORTER_ID=4015795135868ee4781bd8cad1d345c20e7d0c2ef6ad5b0f08ccb13da24e66a1

stages:
  - test
  - deploy

go:
  - 1.12.x

sudo: required
dist: trusty

services:
  - docker

before_install:
  - go get -u golang.org/x/lint/golint
  - make deps
  - curl -L https://github.com/SimonBaeumer/commander/releases/download/v0.1.0/commander-linux-amd64 -o ~/bin/commander
  - chmod +x ~/bin/commander

jobs:
  include:
  - name: Go lint
    stage: test
    script: make lint

  - name: Unit tests
    before_script:
      - curl https://s3.amazonaws.com/codeclimate/test-reporter/test-reporter-0.6.3-linux-amd64 --output test-reporter
      - chmod +x test-reporter
      - ./test-reporter before-build
    script:
      - make test-coverage
    after_script:
      - ./test-reporter after-build -t gocov --exit-code $TRAVIS_TEST_RESULT

  - name: Integration test
    script: make test-integration

  - stage: deploy
    name: "Deployment"
    if: tag IS present
    script: make release
    deploy:
      provider: releases
      overwrite: true
      api_key:
        secure: pHsyDlWCuO0mCzR/OrEl7ulVsq98eu/cW0uLkqjK+72maQi/Hp2981mNfyprQ0RQNFMBMK3V0D3ziXyq04ENlwqt8cHiW8+pghRrgDlNzBLIQAXhXCyFprBng2fKrme6L28uRCGJCDVKMrkWI67bVSIQ6EbUbxzAa8egerRtyFEr/iCVs0LqBn1JJjgnCCG4y6fBR54ry5iGOod1nbmd2trGi+MvCjVt5VLeI+s3GTf9EKKl2gDs17BBlvOScSbdKuAWrBP0+lDqwN8EgxZczNwBHM7/NAyHblhJfSkkyGjuUuJo6sxaxnsN8cVpXdIZyGTjsqsbpu1f6OojqQlFRnlSuvQahdnTrVBcqXuMt3qjW7WDKpE4r4Av6OVh3jhAcW68J9rvsQMjDv4BbDim4zOgq13gIbCk5nN+Ny6j6diwgA35iGpKMHRVl6Aq4Nt/RUbQ9TGrVfdYbide+ONyo3WsQvPFJ8iWwMg7EHul4513Pe7RfxGcxCMjbh/rVCIkOrd8e+k6GJ4ngtcODcJjVjJEttvFrJ2EPnL4AYuDbRThgFBcn4j2U7jBmYbNzH2RJrfIRq6WVPwjbVJ2crT8YqkbS16JpcFFVja1r4+LsdMgsBI26c0RDpL08mCLjy8DFW3bAcGb9Myr5dxEYn+qou6LrSCw1I2qNRS/zSdifAo=
      file:
        - release/commander-linux-amd64
        - release/commander-linux-arm
        - release/commander-linux-386
      skip_cleanup: true
      on:
        repo: SimonBaeumer/commander
        tags: true
